<!doctype html><!--[if lt IE 7]>
<html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]--><!--[if IE 7]>
<html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]--><!--[if IE 8]>
<html class="no-js lt-ie9" lang="en"> <![endif]--><!--[if gt IE 8]><!-->
<html class="no-js" dir="{S_CONTENT_DIRECTION}" lang="{S_USER_LANG}"><!--<![endif]-->
<head>
    <meta charset="{S_CONTENT_ENCODING}">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta http-equiv="X-UA-Compatible" content="IE=EmulateIE7; IE=EmulateIE9">
    <meta name="HandheldFriendly" content="True">
    <meta name="MobileOptimized" content="320">
    <meta name="viewport" content="width=device-width">
    
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="{T_THEME_PATH}/images/touch/apple-touch-icon-144x144-precomposed.png" />
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="{T_THEME_PATH}/images/touch/apple-touch-icon-114x114-precomposed.png" />
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="{T_THEME_PATH}/images/touch/apple-touch-icon-72x72-precomposed.png" />
    <link rel="apple-touch-icon-precomposed" href="{T_THEME_PATH}/images/touch/apple-touch-icon-57x57-precomposed.png" />
    <link rel="shortcut icon" href="{T_THEME_PATH}/images/apple-touch-icon.png" />

  <!-- iOS web app, delete if not needed. https://github.com/h5bp/mobile-boilerplate/issues/94 -->
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="black">
  <script>(function(){var p,l,r=window.devicePixelRatio;if(navigator.platform==="iPad"){p=r===2?"{T_THEME_PATH}/images/startup/startup-tablet-portrait-retina.png":"{T_THEME_PATH}/images/startup/startup-tablet-portrait.png";l=r===2?"{T_THEME_PATH}/images/startup/startup-tablet-landscape-retina.png":"{T_THEME_PATH}/images/startup/startup-tablet-landscape.png";document.write('<link rel="apple-touch-startup-image" href="'+l+'" media="screen and (orientation: landscape)"/><link rel="apple-touch-startup-image" href="'+p+'" media="screen and (orientation: portrait)"/>');}else{p=r===2?"{T_THEME_PATH}/images/startup/startup-retina.png":"{T_THEME_PATH}/images/startup/startup.png";document.write('<link rel="apple-touch-startup-image" href="'+p+'"/>');}})()</script>
  
  <!-- The script prevents links from opening in mobile safari. https://gist.github.com/1042026 -->
  <!-- <script>(function(a,b,c){if(c in b&&b[c]){var d,e=a.location,f=/^(a|html)$/i;a.addEventListener("click",function(a){d=a.target;while(!f.test(d.nodeName))d=d.parentNode;"href"in d&&(d.href.indexOf("http")||~d.href.indexOf(e.host))&&(a.preventDefault(),e.href=d.href)},!1)}})(document,window.navigator,"standalone")</script> -->
  
  <!-- Mobile IE allows us to activate ClearType technology for smoothing fonts for easy reading -->
  <meta http-equiv="cleartype" content="on">
    
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="copyright" content="2000, 2002, 2005, 2007 phpBB Group">
    {META}
    <title>{SITENAME} &bull; <!-- IF S_IN_MCP -->{L_MCP} &bull; <!-- ELSEIF S_IN_UCP -->{L_UCP} &bull; <!-- ENDIF -->{PAGE_TITLE}</title>
    <link href="{T_THEME_PATH}/print.css" rel="stylesheet" type="text/css" media="print" title="printonly">
    <link href="{T_STYLESHEET_LINK}" rel="stylesheet" type="text/css" media="screen, projection"><!-- IF S_CONTENT_DIRECTION eq 'rtl' -->
    <link href="{T_THEME_PATH}/bidi.css" rel="stylesheet" type="text/css" media="screen, projection"><!-- ENDIF --><!-- IF S_ENABLE_FEEDS --><!-- IF S_ENABLE_FEEDS_OVERALL -->
    <link rel="alternate" type="application/atom+xml" title="{L_FEED} - {SITENAME}" href="{U_FEED}"><!-- ENDIF --><!-- IF S_ENABLE_FEEDS_NEWS -->
    <link rel="alternate" type="application/atom+xml" title="{L_FEED} - {L_FEED_NEWS}" href="{U_FEED}?mode=news"><!-- ENDIF --><!-- IF S_ENABLE_FEEDS_FORUMS -->
    <link rel="alternate" type="application/atom+xml" title="{L_FEED} - {L_ALL_FORUMS}" href="{U_FEED}?mode=forums"><!-- ENDIF --><!-- IF S_ENABLE_FEEDS_TOPICS -->
    <link rel="alternate" type="application/atom+xml" title="{L_FEED} - {L_FEED_TOPICS_NEW}" href="{U_FEED}?mode=topics"><!-- ENDIF --><!-- IF S_ENABLE_FEEDS_TOPICS_ACTIVE -->
    <link rel="alternate" type="application/atom+xml" title="{L_FEED} - {L_FEED_TOPICS_ACTIVE}" href="{U_FEED}?mode=topics_active"><!-- ENDIF --><!-- IF S_ENABLE_FEEDS_FORUM and S_FORUM_ID -->
    <link rel="alternate" type="application/atom+xml" title="{L_FEED} - {L_FORUM} - {FORUM_NAME}" href="{U_FEED}?f={S_FORUM_ID}"><!-- ENDIF --><!-- IF S_ENABLE_FEEDS_TOPIC and S_TOPIC_ID -->
    <link rel="alternate" type="application/atom+xml" title="{L_FEED} - {L_TOPIC} - {TOPIC_TITLE}" href="{U_FEED}?f={S_FORUM_ID}&amp;t={S_TOPIC_ID}"><!-- ENDIF --><!-- ENDIF -->
    <script src="{T_TEMPLATE_PATH}/js/vendor/modernizr-2.5.3.min.js"></script>
    <script type="text/javascript">
        // <![CDATA[
        var jump_page = '{LA_JUMP_PAGE}:';
        var on_page = '{ON_PAGE}';
        var per_page = '{PER_PAGE}';
        var base_url = '{A_BASE_URL}';
        var style_cookie = 'phpBBstyle';
        var style_cookie_settings = '{A_COOKIE_SETTINGS}';
        var onload_functions = new Array();
        var onunload_functions = new Array();
        <!-- IF S_USER_PM_POPUP -->
            if ({S_NEW_PM}) {
                var url = '{UA_POPUP_PM}';
                window.open(url.replace(/&amp;/g, '&'), '_phpbbprivmsg', 'height=225,resizable=yes,scrollbars=yes, width=400');
            }
        <!-- ENDIF -->
        /**
        * Find a member
        */
        function find_username(url) {
          popup(url, 960, 570, '_usersearch');
          return false;
        }
        /**
        * New function for handling multiple calls to window.onload and window.unload by pentapenguin
        */
        window.onload = function() {
            var i;
            for (i = 0; i < onload_functions.length; i += 1) {
                eval(onload_functions[i]);
            }
        }
        window.onunload = function() {
            for (var i = 0; i < onunload_functions.length; i += 1) {
                eval(onunload_functions[i]);
            }
        }
        // ]]>
    </script>
    <script type="text/javascript" src="{T_TEMPLATE_PATH}/js/forum_fn.js"></script>
</head>
<body id="phpbb" class="section-{SCRIPT_NAME} {S_CONTENT_DIRECTION}"><!--[if lt IE 7]><p class=chromeframe>Your browser is <em>ancient!</em> <a href="http://browsehappy.com/">Upgrade to a different browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">install Google Chrome Frame</a> to experience this site.</p><![endif]-->
<div id="wrapper">
  <div id="header">
    <div id="account">
      <ul class="leftside">
        <li><!-- IF S_USER_LOGGED_IN -->{LAST_VISIT_DATE}<!-- ELSE -->{CURRENT_TIME}<!-- ENDIF --></li>
      </ul>
      
      <!-- IF not S_IS_BOT -->
        <ul class="rightside">
          <!-- IF S_USER_LOGGED_IN -->
            <!-- IF U_RESTORE_PERMISSIONS --><li><a href="{U_RESTORE_PERMISSIONS}" title="{L_RESTORE_PERMISSIONS}">{L_RESTORE_PERMISSIONS}</a></li><!-- ENDIF -->
            <!-- IF U_MCP --><li><a href="{U_MCP}" title="{L_MCP}">{L_MCP}</a></li><!-- ENDIF -->
            <!-- IF U_ACP --> <li><a href="{U_ACP}" title="{L_ACP}">{L_ACP}</a></li><!-- ENDIF -->
            <li><a href="{U_PROFILE}" title="{L_PROFILE}" accesskey="u">{L_PROFILE}</a></li>
            <!-- IF S_DISPLAY_PM --><li><a href="{U_PRIVATEMSGS}" title="{L_PRIVATE_MESSAGES}">{PRIVATE_MESSAGE_INFO}</a></li> <!-- ENDIF -->
            <!-- IF S_DISPLAY_SEARCH --><li><a href="{U_SEARCH_SELF}" title="{L_SEARCH_SELF}">{L_SEARCH_SELF}</a></li> <!-- ENDIF -->
          <!-- ELSE -->
            <!-- IF not S_USER_LOGGED_IN and S_REGISTER_ENABLED and not (S_SHOW_COPPA or S_REGISTRATION) --><li><a href="{U_REGISTER}" title="{L_REGISTER}">{L_REGISTER}</a></li><!-- ENDIF -->
          <!-- ENDIF -->
          <li><a href="{U_LOGIN_LOGOUT}" title="{L_LOGIN_LOGOUT}" accesskey="l">{L_LOGIN_LOGOUT}</a></li>
          <!-- IF U_SEND_PASSWORD --><li><a href="{U_SEND_PASSWORD}" title="{L_FORGOT_PASS}">{L_FORGOT_PASS}</a></li><!-- ENDIF -->
        </ul>
      <!-- ENDIF -->
    </div>
    
    <div id="illustration">
      <div id="site-description">
        <h1><a href="{BOARD_URL}" title="{L_INDEX}">{SITENAME}</a></h1>
        <p>{SITE_DESCRIPTION}</p>
      </div>
    </div>
    
    <div id="main-navigation">
      <ul id="primary-navigation" class="leftside">
        <li><a href="{U_INDEX}" title="{L_INDEX}">{L_INDEX}</a></li>
        <li><a href="{U_FAQ}" title="{L_FAQ_EXPLAIN}">{L_FAQ}</a></li>
        <!-- IF not S_IS_BOT-->
          <!-- IF S_DISPLAY_SEARCH -->
            <li><a href="{U_SEARCH}" title="{L_SEARCH_ADV_EXPLAIN}">{L_SEARCH}</a></li>
            <!-- IF S_USER_LOGGED_IN --> <li><a href="{U_SEARCH_SELF}">{L_SEARCH_SELF}</a></li><!-- ENDIF -->
            <!-- IF S_LOAD_UNREADS --> <li><a href="{U_SEARCH_UNREAD}">{L_SEARCH_UNREAD}</a></li><!-- ENDIF -->
            <!-- IF S_USER_LOGGED_IN --> <li><a href="{U_SEARCH_NEW}">{L_SEARCH_NEW}</a></li><!-- ENDIF -->
                 <!-- ENDIF -->
          <!-- IF S_DISPLAY_MEMBERLIST --><li><a href="{U_MEMBERLIST}" title="{L_MEMBERLIST_EXPLAIN}">{L_MEMBERLIST}</a></li><!-- ENDIF -->
          <!-- IF U_TEAM --><li><a href="{U_TEAM}" title="{L_THE_TEAM}">{L_THE_TEAM}</a></li> <!-- ENDIF -->
        <!-- ENDIF -->
      </ul>
      
      <!-- IF U_EMAIL_TOPIC or U_EMAIL_PM or U_PRINT_TOPIC or U_PRINT_PM -->
        <ul class="rightside linklist icons">
          <!-- IF U_EMAIL_TOPIC --><li><a href="{U_EMAIL_TOPIC}" title="{L_EMAIL_TOPIC}" class="sendemail">{L_EMAIL_TOPIC}</a></li><!-- ENDIF -->
          <!-- IF U_EMAIL_PM --><li><a href="{U_EMAIL_PM}" title="{L_EMAIL_PM}" class="sendemail">{L_EMAIL_PM}</a></li><!-- ENDIF -->
          <!-- IF U_PRINT_TOPIC --><li><a href="{U_PRINT_TOPIC}" title="{L_PRINT_TOPIC}" accesskey="p" class="print">{L_PRINT_TOPIC}</a></li><!-- ENDIF -->
          <!-- IF U_PRINT_PM --><li><a href="{U_PRINT_PM}" title="{L_PRINT_PM}" accesskey="p" class="print">{L_PRINT_PM}</a></li><!-- ENDIF -->
        </ul>
      <!-- ENDIF -->
    </div>
  </div>
  <div class="banners top">
    <div class="banner">
      <a href="{BOARD_URL}ucp.php?i=pm&mode=compose&u=63"><img src="{T_THEME_PATH}/images/banner_placeholder.png"></a>
    </div>
  </div>
  <div id="container">

    <!-- IF S_BOARD_DISABLED and S_USER_LOGGED_IN and (U_MCP or U_ACP) -->
      <div id="information" class="rules">
        <div class="inner"><span class="corners-top"><span></span></span>
        
        <strong>{L_INFORMATION}:</strong> {L_BOARD_DISABLED}
        
        <span class="corners-bottom"><span></span></span></div>
      </div>
    <!-- ENDIF -->